.modal__close {
  display: flex;

  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 14px;
  justify-content: flex-end;
  cursor: pointer;
}

.modal__close-item {
  position: absolute;
  top: 20px;
  right: 20px;
  padding-bottom: 14px;
  justify-content: flex-end;
  cursor: pointer;
}
