.modal__footer {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-bottom: 56px;
}

.modal__footer-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.footer-btn1 {
  border: 1px solid #3c4242;
  background-color: rgba(0, 0, 0, 0);
  color: #8a33fd;
}
.footer-btn1:hover {
  color: #4a2579;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer-btn2 {
  border: none;
  background-color: #8a33fd;
  color: #fff;
}
.footer-btn2:hover {
  background-color: #4a2579;
}
